* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
:root {
  --primary: #0fbda3;
  --secondary: #ea403a;
  --third: #62615f;
  --fourth: white;
}
/* Hexagon page */
.Hexagon-main {
  background-image: url(image/image-earth.png);
  background-position: center;
  justify-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Hexagon-content {
  margin-top: 5%;
  width: 90%;
  margin-bottom: 5%;
}
.Hexagon-header {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  margin-bottom: 7%;
}
.Hexagon-links a {
  font-size: 1vw;
  color: var(--fourth);
  text-decoration: none;
  padding-right: 1vw;
  font-weight: bold;
}
.Hexagon-headings p:nth-child(3) {
  font-size: 0.8vw;
  color: grey;
  margin-top: 3vw;
  line-height: 1.5;
}
.Hexagon-headings p:nth-child(4) {
  font-size: 0.8vw;
  color: grey;
}
span {
  background-color: #0fbda3;
  font-size: 90%;
  border-radius: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1.5vw;
  font-weight: bold;
}
.Hexagon-name {
  color: var(--fourth);
}
.Hexagon-name h1 {
  font-weight: lighter;
  font-size: 2.3vw;
}
.Hexagon-name span {
  font-size: 2vw;
}
button {
  font-size: 1vw;
  background-color: var(--secondary);
  border-style: none;
  color: var(--fourth);
  width: 14vw;
  height: 3vw;
  border-radius: 5px;
  font-weight: bold;
}

.Hexagon-headings {
  color: var(--fourth);
  text-align: center;
  font-size: 5vw;
  font-weight: lighter;
}

/* Introducing page */
.Introducing-main {
  justify-items: center;
  align-content: center;
}
.Introducing-content {
  padding-top: 5vw;
  width: 90%;
  text-align: center;
  justify-items: center;
}
.Introducing-content h1:nth-child(2) {
  padding-bottom: 1vw;
}
.Introducing-content h1 {
  font-size: 3vw;
  font-weight: lighter;
}
.Introducing-content .line {
  margin-top: 3vw;
  height: 0.3vw;
  width: 8vw;
  background-image: linear-gradient(var(--primary) 0% 100%);
  margin-bottom: 3vh;
}
.Introducing-content p:nth-child(4) {
  font-size: 0.8vw;
  color: var(--third);
  margin-top: 3vw;
  line-height: 1.5;
}
.Introducing-content p:nth-child(5) {
  font-size: 0.8vw;
  color: var(--third);
  margin-bottom: 3vw;
}
.Introducing-content button {
  margin-bottom: 5vw;
  background-color: var(--primary);
  width: 10vw;
  height: 3vw;
}

/* about page */
.about-main {
  padding-top: 3vw;
  padding-bottom: 3vw;
  justify-items: center;
  background-color: var(--third);
}

.about-content {
  width: 90%;
  display: flex;
  align-items: baseline;
}
.about-name {
  flex-grow: 1;
  color: var(--fourth);
  font-size: 1vw;
}
.about-content-p {
  flex: 8;
  color: var(--fourth);
  font-size: 1vw;
}
.line {
  margin-top: 3vw;
  height: 0.3vw;
  width: 5vw;
  background-image: linear-gradient(#ffffff 0% 100%);
  margin-bottom: 3vh;
}

/* portfolio page */
.Portfolio-main {
  justify-items: center;
  align-content: center;
}
.Portfolio-content-header {
  margin-top: 5vw;
  display: flex;
  align-items: baseline;
  width: 90%;
  justify-content: space-between;
}
.Portfolio-content-header .line {
  margin-top: 3vw;
  height: 0.3vw;
  width: 5vw;
  background-image: linear-gradient(black 0% 100%);
  margin-bottom: 3vh;
}
.Portfolio-header h1 {
  font-size: 2vw;
}
.Portfolio-links a {
  font-size: 1vw;
  color: black;
  text-decoration: none;
  margin-right: 2vw;
  font-weight: lighter;
  text-align: center;
}
.Portfolio-links a:hover {
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: var(--primary);
  color: var(--fourth);
  padding-left: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 0.5vw;
}

/* portfolio image page */
.portfolio-image {
  justify-items: center;
  align-content: center;
}
.portfolio-image-content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.portfolio-image-content .card {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.card img {
  height: 20vw;
  width: 21.5vw;
  padding-right: 1vw;
  padding-top: 1vw;
}
.overlay {
  height: 20vw;
  width: 21.5vw;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
}
.overlay a {
  font-size: 1vw;
}
.overlay .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5vw;
  background-color: red;
  text-decoration: none;
  color: white;
}
.card:hover .overlay {
  opacity: 1;
}

/* customer page */
.customer-main {
  justify-items: center;
  align-content: center;
  margin-top: 15vw;
}
.customer-label {
  display: flex;
  background-color: var(--primary);
}
.customer-label img {
  border-radius: 100%;
  position: relative;
  height: 10vw;
  width: 10vw;
  top: -5vw;
  left: 20vw;
  border: 0.5vw solid var(--primary);
}
.customer-main p:nth-child(1) {
  position: relative;
  font-size: 1.5vw;
  bottom: 8vw;
  left: -24vw;
}
.customer-feedback {
  font-size: 1vw;
  width: 50%;
  align-content: center;
  padding-left: 30%;
  color: var(--fourth);
}
.customer-feedback p {
  margin-top: 1vw;
}
.customer-name {
  display: flex;
  font-size: 1.4vw;
  align-items: baseline;
}
.customer-name div {
  font-size: 1vw;
  padding-left: 0.5vw;
}

/* ourteam page */
.ourteam-main {
  justify-items: center;
  align-content: center;
}
.ourteam-content-header {
  margin-top: 5vw;
  width: 90%;
}
.ourteam-content-header .line {
  margin-top: 3vw;
  height: 0.3vw;
  width: 5vw;
  background-image: linear-gradient(black 0% 100%);
  margin-bottom: 3vh;
}
.ourteam-header h1 {
  font-size: 2vw;
}

.ourteam-image {
  width: 90%;
}
.ourteam-image-content {
  display: flex;
}
.ourteam-image-content .card {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.card img {
  height: 20vw;
  width: 21.5vw;
}
.overlay a {
  font-size: 1vw;
  flex-direction: column;
}
.overlay p {
  line-height: 1.5;
}

.ourteam-image-content .card .overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  opacity: 1;
}
.ourteam-image-content .overlay .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5vw;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
  opacity: 1;
}
.overlay-content i {
  color: var(--fourth);
  font-size: 2vw;
}
.overlay-content {
  height: 20vw;
  width: 21.5vw;
  transition: 0.3s ease;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.card:hover .overlay-content {
  opacity: 1;
}

/* contactus banner */
.contactus-banner {
  width: 100%;
  background-image: url(image/image-umberlla.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-content: center;
  margin-top: 5vw;
}
.contactus-text {
  padding-top: 5vw;
  width: 90%;
  text-align: center;
  justify-items: center;
  color: var(--fourth);
}
.contactus-text h1:nth-child(2) {
  padding-bottom: 1vw;
}
.contactus-text h1 {
  font-size: 3vw;
  font-weight: lighter;
}
.contactus-text button {
  margin-bottom: 5vw;
  background-color: var(--secondary);
  width: 10vw;
  height: 3vw;
  margin-top: 2vw;
}

/* ourservice page */
.ourservice-main {
  justify-items: center;
  align-content: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.ourservice-content {
  width: 90%;
}
.ourservice-header .line {
  margin-top: 2vw;
  height: 0.3vw;
  width: 5vw;
  background-image: linear-gradient(black 0% 100%);
  margin-bottom: 3vh;
}
.ourservice-header h2 {
  font-size: 2vw;
}
.service-logo {
  padding-top: 3vw;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 3vw;
}
.logo-content {
  flex-direction: column;
  width: 24vw;
  font-size: 1vw;
  margin-bottom: 3vw;
}
.logo-content h4 {
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.service-logo i {
  font-size: 3vw;
}
.logo-content p {
  line-height: 1.5;
}
.quotes {
  height: 10vw;
  background-color: var(--third);
  justify-items: center;
  align-content: center;
}
.quotes p {
  width: 80%;
  text-align: center;
  color: var(--fourth);
  font-size: 1.3vw;
  font-weight: lighter;
}

/* contactus page */
.contactus-main {
  justify-items: center;
  align-content: center;
}
.contactus-content {
  width: 90%;
}
.contactus-header .line {
  margin-top: 2vw;
  height: 0.3vw;
  width: 5vw;
  background-image: linear-gradient(black 0% 100%);
  margin-bottom: 3vh;
}
.contactus-header h2 {
  font-size: 2vw;
}
.input-name {
  font-size: 1vw;
  padding-top: 2vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2vw;
}
.inputbox input {
  font-size: 1vw;
  width: 40vw;
  border-style: none;
  border-bottom: 0.1vw solid rgba(69, 69, 69, 0.931);
  padding-bottom: 1vw;
  padding-left: 1vw;
}
.input-address {
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
}
.mail {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
}
.mail p:nth-child(3) {
  padding-top: 3vw;
}
.input-address input {
  padding-top: 2vw;
}

.inputbox button {
  font-size: 1vw;
  background-color: var(--secondary);
  width: 10vw;
  height: 3vw;
  justify-content: flex-end;
}

.input-text {
  margin-top: 4vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
}
.social-links {
  font-size: 1vw;
  margin-right: 29vw;
}

/* footer page */
.footer-main {
  justify-items: center;
  align-content: center;
  background-color: var(--third);
  margin-top: 2vw;
}
.footer-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: var(--fourth);
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
}
